
extends ./../layout/main

block content
    h1 #{msg}
    table(class="table table-responsive")
        tbhead
            tr
                th #
                th Event Name
                th Event Description
        tbody
            each event in events
              tr
                td=event.id
                td=event.name
                td=event.description